body {
    background-color: #bae8e8;
    font-family: Arial, sans-serif;
    color: black;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

p {
    text-align: left;
}

table {
    width: 275px;
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

th {
    background: green;
    text-align: center;
    border: none;
    padding: 5px;
}


td {
    border: none;
    padding: 5px;
}

tr {
    background: grey;
    text-align: left;
}

.job_listings {
    align-content: center;
    font-size: 14px;
    font-style: italic;
}

button {
    background-color: green;
    text-align: center;
    border-radius: 10px;
}

