/* Global Styles */
body {
    background-color: #bae8e8;
    font-family: Arial, sans-serif;
    color: black;
    margin: 5% 10%;
    text-align: center;
}

/* Paragraph and Text Alignment */
p {
    text-align: left;
}

/* Table Styling */
table {
    width: 275px;
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

th {
    background-color: green;
    text-align: center;
    border: none;
    padding: 5px;
}

td {
    border: none;
    padding: 5px;
}

tr {
    background-color: grey;
    text-align: left;
}

/* Form and Container Styles */
.application-form {
    align-content: center;
}

.attachment-container, .name-container, .contact-container {
    display: flex;
    gap: 30px;
}

.comment-container {
    display: flex;
    font-style: italic;
    margin-top: 15px;
    gap: 10px;
}

/* Labels and Text Areas */
.name-container label, 
.contact-container label, 
.attachment-container label {
    margin-right: 1px;
}

.comment-container textarea {
    width: 100%;
    max-width: 600px;
}

/* Job Listings */
.job_listings {
    align-content: center;
    font-size: 14px;
    font-style: italic;
}

/* Button Styling */
button, #application-submit {
    background-color: green;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 20px;
}
